@import './overrides.css';

:root {
    --max-width: 1400px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --brand-color-1: #e4ede8;
    --brand-color-2: #fae8e6;
    --brand-color-3: #fce7b1;
    /* --brand-color-3: #f5f5d1; */
    /* --brand-color-3: #faf1e7; */

    --accent-color-1: #272727;
    --accent-color-2: #faf9f6;
    /* --accent-color-3: #ff7f11; */

    --nav-background: #080808;
    --nav-height: 6rem;
    --footer-height: 4rem;

    --hover-transition: 0.25s ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-mono);
}

#__next {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
