@import './overrides.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/gistesy');

:root {
    --max-width: 1400px;

    --brand-color-1: #ffcfcf;
    --brand-color-2: #c8e1d5;
    --brand-color-3: #ffe7d3;

    --accent-color-1: #272727;
    --accent-color-2: #faf9f6;

    --border-radius: 12px;
    --brand-border-1: 3px solid var(--brand-color-1);
    --nav-background: #080808;
    --nav-height: 6rem;
    --height-with-nav-excluded: calc(
        100vh - var(--nav-height) - var(--footer-height) - 2rem
    );
    --dashboard-nav-width: 15rem;
    --footer-height: 14rem;

    --hover-transition: 0.25s ease-in-out;

    --Gistesy: 'Gistesy', sans-serif;
    --box-shadow-1: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --box-shadow-nav: 0.3px 0.6px 0.6px hsl(0deg 0% 0% / 0.49);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Nugstnito Sans', sans-serif;
}

#__next {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Mui Global CSS */

/* .MuiInputLabel-root {
    color: var(--brand-color-1);
}
.MuiOutlinedInput-notchedOutline {
    border-color: var(--brand-color-3);
}

.MuiRating-root {
    color: var(--brand-color-3);
}
.MuiRating-iconEmpty {
    color: var(--brand-color-3);
} */

.selectField label {
    background-color: white;
}
